@{
    ViewData["Title"] = "Details";
}

@model StudentShowVM


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Students table</h6>
                        <span class="badge badge-sm text-xs bg-gradient-success"></span>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        @if (Model.AppUsers.Count > 0)
                        {
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Father Name</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Gender </th>

                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Identifier</th>
                                        <th class="text-secondary opacity-7">Setting</th>
                                    </tr>

                                </thead>
                                <tbody>

                                    @foreach (var user in Model.AppUsers)
                                    {


                                                <tr>
                                                    <td>
                                                        <div class="d-flex px-2 py-1">

                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-0 text-sm"> @user.FullName</h6>

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0">@user.FatherName</p>

                                                    </td>
                                                    <td class="align-middle justify-content-center ">
                                                        <span class="badge badge-sm text-xs bg-gradient-success">@user.Gender.Name</span>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <span class="text-secondary text-xs font-weight-bold">@user.Identifier</span>
                                                    </td>

                                                    <td class="align-middle">
                                                       
                                                        <a asp-action="DeleteStudentFromGroup" asp-controller="Group" asp-route-id="@user.Id" class="delete-btn"  data-toggle="tooltip" data-placement="bottom" title="Delete Student"  style="font-size: 1.1rem !important; class="text-secondary font-weight-bold text-xs"  data-toggle="tooltip" data-original-title="Edit user">
                                                           <span class="badge badge-sm bg-gradient-danger"> <i class="fas fa-trash"></i></span> 
                                                           </a>
                                                        
                                                    </td>
                                                </tr>
                                    }
                                        </tbody>
                            </table>
                        }
                        else
                        {
                           
                                            <h2 class="text-center">No Yet Student</h2>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 @section ScriptModal{
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
<script src="~/admin/assets/js/AlertModal.js"></script>
}