<style>
 /*   .card-footer {
      overflow:hidden;
          padding:0rem !important;
        transition:0.6s;
        height:0;
        z-index:3;
    }*/
      .card {
       /*padding:1.5rem !important;*/
          border-left: 0px solid #e43370;
            border-right: 0px solid #e43370 ;
             transition:0.6s;

    }
    .card:hover {
       /*padding:1.5rem !important;*/
          border-left: 11px solid #e43370 ;
           border-right: 11px solid #e43370 ;
             transition:0.6s;
           transform: scale(1.1)

    }
</style>
<div class="container-fluid py-4">
    <div class="row">

        <div class="col-xl-4 col-sm-6 my-3">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <div class="text-end pt-1">
                        <h3 class="text-white">
                            @ViewBag.UserStudent
                        </h3>
                        <p class="text-white">
                            Student
                        </p>
                    </div>
                </div>

                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 my-3">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <div class="text-end pt-1">
                        <h3 class="text-white">
                            @ViewBag.TeacherCount
                        </h3>
                        <p class="text-white">
                            Teacher
                        </p>
                    </div>
                </div>

                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 my-3">
            <a class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-book"></i>
                    </div>
                    <div class="text-end pt-1">
                        <h3 class="text-white">
                            @ViewBag.SubjectCount
                        </h3>
                        <p class="text-white">
                            Subject
                        </p>
                    </div>
                </div>

                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                </div>
            </a>
        </div>


        <div class="col-xl-4 col-sm-6 my-3">
            <a class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="text-end pt-1">
                        <h3 class="text-white">
                            @ViewBag.GroupCount

                        </h3>
                        <p class="text-white">
                            Group
                        </p>
                    </div>
                </div>

                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    @*<p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday</p>*@
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 my-3">
            <a class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">account_balance</i>
                    </div>
                    <div class="text-end pt-1">
                        <h3 class="text-white">
                            @ViewBag.FacultyCount
                        </h3>
                        <p class="text-white">
                            Faculty
                        </p>
                    </div>
                </div>

                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    @*<p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday</p>*@
                </div>
            </a>
        </div>
         <div class="col-xl-4 col-sm-6 my-3">
            <a class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                       <i class="fas fa-id-card-alt"></i>
                    </div>
                    <div class="text-end pt-1">
                        <h3 class="text-white">
                            @ViewBag.SpecalityCount
                        </h3>
                        <p class="text-white">
                            Specality
                        </p>
                    </div>
                </div>

                <hr class="dark horizontal my-0">
               <div class="card-footer p-3">
                </div>
            </a>
        </div>
    </div>
</div>
