
@model SubjectDetailVM
@{
    int docCount = 1;
}
<section>
            <link
                href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap"
                rel="stylesheet">
                

            <div class="layout">
                <input
                    name="nav"
                    type="radio"
                    class="nav home-radio"
                    id="home"
                    checked="checked"/>
                <div class="page home-page">
                    <div class="page-contents">
                        <div class="container my-3">

                            <ul class="responsive-table">
                              <li class="table-header">
                                <div class="col col-2">№</div>
                                <div class="col col-6">File Name</div>
                                <div class="col col-2">Dwonload</div>
                                
                              </li>

                              @if (Model.Documents.Count() != 0)
                        {
                            
                      
                        @foreach (var doc in Model.Documents)
                               {
                                    <li class=" table-row">
                                    <div class="col col-2" data-label="№">@docCount</div>
                                    <div class="col col-6" data-label="File Name"> @doc.Title
                                    </div>
                                    <div class="col col-2" data-label="Download">
                                       <a asp-action="DownloadFile" asp-controller="Document" asp-route-id="@doc.Id"> <i class="fas fa-file-download"></i></a>
                                    </div>

                            </li>
                            docCount++;
                        }
                                }
                                else
                                {
                                    <li class=" table-row">
                                        <div class="col-lg-12">
                                            <h2 class="text-center">No Yet Document</h2>
                                        </div>
                                   </li>
                                }
                                
                             
                             
                            </ul>
                          </div>

                    </div>
                </div>
                <label class="nav" for="home" style="position: relative;
    left: 45%;">
                    
                        Didactic material
                    </span>
                </label>

              
                    
                </label>

                <input name="nav" type="radio" class="contact-radio" id="contact"/>
                <div class="page contact-page">
                    <div class="page-contents">
                      
                                 
                <section class="mt-5 ">
    <div class="container animate_animated animatebackInDown animate_delay-0.5s">
        
        <div class="row">
            <div class="col-12">
                 @if(Model.Lessons.Count()!=0)
                 {
                <table class="table table-hover">
                    <thead>
                      <tr>
                      
                        <th scope="col">Type</th>
                        <th scope="col">Topic</th>
                        <th scope="col">Score</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                       
                         
                             @foreach(var lesson in Model.Lessons){
                               <tr> 
                                  
                                    <td>
                                       @lesson.LessonType.Name
                                   </td>
                                   <td>
                                       @lesson.Name
                                   </td>
                                    <td>
                                       @lesson.Score
                                   </td>
                            
                            </tr>   
                             }  
                       
                        
                
                    </tbody>
                  </table>
                  }
                  else
                                {
                                    
                                        <div class="col-lg-12">
                                            <h3 class="text-center text-warning">No Student Has been Graded Yet</h3>
                                        </div>
                                   
                                }
                        
                
            </div>
            <div class="col-12 my-4">
              @*  <a asp-action=GetClases class=" min-card">Back</a>
                
                   @{
                   var user = Model.FirstOrDefault();
                    if(user.UserExams.Count()!=4)
                        {
                              <a asp-action=AddEvaluation asp-route-id=@ViewBag.Class.Id  class="create-btn">Added</a>
                        }else{
                            <span class="btn btn-danger text-light py-2 ">All values ​​have already been entered </span>
                        }
                
               }
               *@
            </div>
        </div>
    </div>

</section>
                
                       
                    </div>
                </div>
                <label class="nav" for="contact" style="position: relative;
    left: 50%;">
                    <span>
                       
                        Evaluation
                    </span>

                </label>
            </div>
        </section>