
@{
    ViewData["Title"] = "Personal İnformation";
}
@model AppUser

   <section id="StudentProfil">
          <!-- Student Profile -->
<div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <!-- <img class="profile_img" src="https://placeimg.com/640/480/arch/any" alt=""> -->
              <img style="background-color: #5567ff;padding: 0.4rem;" class="profile_img" src="~/assets/img/white.svg" alt="">
              <h3>@Model.FullName</h3>
            </div>
            <div class="card-body" style="cursor:default">
              <p class="mb-0"><strong class="pr-1">Teacher ID:</strong>@Model.UserName</p>
              <p class="mb-0"><strong class="pr-1">Email :</strong>@Model.Email</p>
               <p class="mb-0 my-3 justify-content-center"><strong class="pr-1"></strong><a asp-action="ChangePassword" asp-controller="Account" asp-area="null" style="background: #303956;
    color: white;
    padding: 0.8rem;
    border-radius: 5px; text-decoration:none">Change Password <i class="fas fa-exchange"></i> </a></p>
                           
                        </div>
            
            </div>
          </div>
       
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="30%">Roll</th>
                  <td width="2%">:</td>
                  <td>Teacher</td>
                </tr>
                
                <tr>
                  <th width="30%">Gender</th>
                  <td width="2%">:</td>
                  <td>@Model.Gender.Name</td>
                </tr>
                
                <tr>
                    <th width="30%">Identity</th>
                    <td width="2%">:</td>
                    <td>@Model.Identifier</td>                 
                  </tr>
                  <tr>
                    <th width="30%">Father Name</th>
                    <td width="2%">:</td>
                    <td>@Model.FatherName</td>                 
                  </tr>   
                   <tr>
                    <th width="30%">Default Password Name</th>
                    <td width="2%">:</td>
                    <td>Teacher123@@</td>                 
                  </tr>   
              </table>
            </div>
          </div>
        </div>
      </div>
       </div>
    </div>
  </div>
  
        </section>
